.classpath
.project
.settings/
nbproject
target/
rundirs/*/ogema/users
rundirs/*/bin/*
!rundirs/*/bin/ext
!rundirs/*/bin/lib
!rundirs/*/.project
rundirs/*/config/zwave_cache/OZW_Log.txt
build/
tmp/
temp/
.gradle/
.svn/
.metadata/
osgi/configuration/org.eclipse.osgi/
nb-configuration.xml
nbactions.xml
*~
ua_repo.dat
pom.xml.versionsBackup
pom.xml.releaseBackup
timeSeriesConf.xml
RecordedDataConfig.xml
release.properties
slotsdbdata/
data
SiteBuilder/
site-builder/
.recommenders/
ION7550-console/
ION7550-hldriver/
*.swp
jssc/
*.iml
.idea
